.category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 1rem;
    gap: 1rem;
}

.category__products{
    margin-bottom: 3rem;
}

.container__category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 90vw;
}

.container__category__title{
    font-size: 1.375rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.container__category__link{
    text-decoration: none;
    color: var(--orange);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    background-image: url(../image/arrow.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 5.2rem;
}

@media screen and (min-width: 768px) {
    .category{
        padding: 2rem;
    }

    .container__category__title{
        font-size: 1.5rem;
    }

    .container__category__link{
        font-size: 1rem;
        background-position: 6rem;
    }
}

@media screen and (min-width: 1400px) {
    .category{
        margin: 4rem;
    } 

    .container__category{
        width: 70.8125rem;
        justify-content: space-between;
    }

    .container__category__title{
        font-size: 2rem;
    }
}